body {
    background-color: rgb(240, 214, 190);
    font-family: "Monaco", Arial;
    text-align: center;
}

h1, h2 {
    color:rgb(29, 19, 10);
    text-align: center;
}

img {
    width: 300px;
    height: auto;
}

ul.links {
    padding: 0;
}

li.link-item {
    background-color: darkorange;
    display: inline;
    text-decoration: none;
    padding: none;
    margin: none;
    padding: 20px;
}

div {
    /* text-align: center; */
}